@import "tailwindcss";

@theme {
  --color-obsidian: #0B0F19;
  --color-slate-dark: #161B26;
  --color-electric-teal: #00F2FE;
  --color-surgical-green: #00E676;
}

body {
  background-color: var(--color-obsidian);
  color: #f1f5f9;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Enforce strict alignment parameters - no rounded corners */
button, input, select, textarea, div, a, section {
  border-radius: 0px !important;
}